@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes gloss {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

.animate-gloss {
    animation: gloss 1.5s infinite linear;
    background-size: 200%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 100%);
}

